---
import DefaultLayout from "@layouts/default.astro";
import Prose from "../components/Prose.astro";
---

<DefaultLayout>
  <section class="container py-4 mx-auto flex flex-col items-center">
    <Prose>
      <h1 class="text-center">404</h1>
      <p class="text-center">...</p>
    </Prose>
  </section>
  <!-- <ContactForm /> -->
</DefaultLayout>
