---
import DefaultLayout from "@layouts/default.astro";
import Prose from "../components/Prose.astro";
---

<DefaultLayout>
  <section class="container py-4 mx-auto">
    <Prose>
      <h1>Gude!</h1>
      <p>Ich bau gerade meine Website um und bin bald wieder da.</p>
    </Prose>
  </section>
  <!-- <ContactForm /> -->
</DefaultLayout>
