---
import DefaultLayout from "@layouts/default.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import Prose from "../components/Prose.astro";
---

<DefaultLayout>
  <article class="w-full mb-8">
    <Prose>
      <h1>Gude!</h1>
      <p>Ich bau gerade meine Website um und bin bald wieder da.</p>
    </Prose>
  </article>
</DefaultLayout>
