---
import Button from "./Button.astro";
import FormControlContainer from "./FormControlContainer.astro";
import Input from "./Input.astro";
import Label from "./Label.astro";
import Textarea from "./Textarea.astro";
---

<section {...Astro.props}>
  <form
    onsubmit="javascript:alert('not implemented yet')"
    class="bg-white rounded-xl px-6 py-5 lg:p-10 space-y-8"
  >
    <div class="md:grid md:grid-cols-2 md:gap-8 lg:gap-16 space-y-8 md:space-y-0">
      <fieldset class="space-y-8">
        <FormControlContainer>
          <Label for="name">Your Name</Label>
          <Input name="name" placeholder="Max Mustermann" autocomplete="name" />
        </FormControlContainer>
        <FormControlContainer>
          <Label for="email">Your E-Mail</Label>
          <Input
            type="email"
            name="email"
            placeholder="max@musterweb.tld"
            autocomplete="email"
          />
        </FormControlContainer>
        <FormControlContainer>
          <Label for="subject">Contact Subject</Label>
          <Input
            name="subject"
            placeholder="It is okay, to simply say hi!"
            autocomplete="off"
          />
        </FormControlContainer>
      </fieldset>
      <fieldset>
        <FormControlContainer class="h-full">
          <Label for="message">Your Message</Label>
          <Textarea
            name="message"
            id="message"
            class="block h-full min-h-[8rem]"
            placeholder="Hi, my name is Alex!\nI wanted to swing by and say hello."
          />
        </FormControlContainer>
      </fieldset>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-end space-y-4 md:space-y-0 md:space-x-2">
      <p class="text-xs text-medium-grey text-right">
        Your data is securely transmitted.<br />I respect your data privacy
        (more).
      </p>
      <Button>send message</Button>
    </div>
  </form>
</section>
