<footer class="p-8 w-full bg-dark-grey text-light-dark-grey text-sm">
  <div class="flex justify-between w-full max-w-5xl mx-auto">
    <p>Made with <span>❤️</span> in Frankfurt am Main / Germany</p>
    <nav class="space-x-8">
      <a href="/">Home</a>
      <a href="/imprint">Imprint</a>
    </nav>
  </div>
</footer>
