---
const prose = [
  "prose",
  "prose-headings:font-sans",
  "prose-headings:font-normal",
  "prose-h1:font-display",
  "prose-h1:font-thin",
  "prose-h1:tracking-tight",
  "font-sans",
  "font-normal",
  "strong:font-bold",
  "text-dark-grey",
  "mx-auto"
].join(" ");
---

<div class={prose}>
  <slot />
</div>
